.aboutus-container{
    color: #fff;
    position: relative;
    overflow: hidden;
}

.header-banner{
    background-image: url(../assets/login.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
    height: 300px;
    object-fit: contain;
    width: 100%;
    position: relative;
    top: 0;
    z-index: -1;
    transition: all 0.5s ease;
}

.aboutus-container h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    z-index: 1;
}


.aboutus-image{
    height: 600px;
    width: 700px;
    border-radius: 10px;
}



.about-rate-left, .about-rate-right{
    background-color:#000001;
    padding:25px;
}

.about-rate-left p,.about-rate-right p{
    line-height: 1.2rem;
    margin-top: 15px;

}

