
.banner-video{
    height:700px ;
    width: 100vw;
    object-fit: cover;
    position: absolute;
}

.movie-banner {
    height: 600px;
    width: 100vw;
    position: relative;
    object-fit:contain;
    color: #fff;
}

.movie-banner-content {
    margin-left: 15px;
    padding-top: 250px;
    height: 180px;
    position: absolute;
}



.movie-banner-description {
    height: 130px;
}



.movie-banner-button {
    color: #fff;
    cursor: pointer;
    outline: 0;
    font-size: 16px;
    border: 0;
    font-weight: bold;
    border-radius: 0.2vw;
    padding: 15px;
    margin-right: 20px;
    background-color: rgba(15, 15, 15, 0.5);
    padding-bottom: 0.5rem;
}

.movie-banner-button:hover {
    color: #000;
    background-color: aliceblue;
    transition: all 0.2s;
}